/* 
Author : Douglas Vinicio
Date : 22 June, 2020
Filename : custom.css
*/

/* General Section */ 

* {
    background-color: #e6e6e6;
  }

  h1,h2 {
      text-align: center;
  }
  

/* Header Section */ 

/* Set the top image */
.banner{
display: flex;
margin: 0 auto;
width: 35%;
}

/* Navbar container */
.navbar {
text-align: center;
display: flex;             
justify-content: center;
}

/* Link text inside the navbar */
.navbar a {
color: black;
padding: 14px 16px;
text-decoration: none;
font-weight: 600;
}

/* Setting media query to small sized screens */
@media (min-width: 550px) {
    .card-image {
        float: left;
        margin-right: 10px;
}}

/* Creating some space between images */ 
.card-image {
    margin: 5px;
}


  